{% extends 'base.html.twig' %}
{% block title_header %}<h1 class="text-center">Faites entendre votre voix</h1>{% endblock %}

{% block body %}
<link href="{{ asset('css/avis.css') }}" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h3>Rédigez votre avis sur "Logo"</h3>
                    <p>Dans un premier temps, nous vous invitons à renseigner vos informations <br> pour garantir la véracité des avis sur votre marque</p> <br><br><br>
                    <div class="row">
                        <div class="col-md-4">
                            <b class="">Prénom et nom</b><br>
                            {{ form_start(form.name) }}
                            {{ form_widget(form.name) }}
                             <br>

                            <b class="">Adresse email</b><br>
                            {{ form_start(form.email) }}
                            {{ form_widget(form.email) }}
                            
                        </div>
                        <div class="col-md-4">
                            <b class="">Prénom et nom</b><br>
                            {{ form_start(form.pseudo) }}
                            {{ form_widget(form.pseudo) }}
                             <br>

                            <b class="">Date de naissance</b><br>
                            {{ form_start(form.birthday) }}
                            {{ form_widget(form.birthday) }}
                           
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn_styles">SUIVANT</button>
                        {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}