
{% block body %}
    <link href="{{ asset('css/avis.css') }}" rel="stylesheet">
    <div class="column_liste_avis">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">Modifier le contenu</h3> <br>
                    {{ form_start(form) }}

                    {{ form_rest(form) }}
                        <button type="submit">Enregistrer</button>
                    {{ form_end(form) }}
                        {{ avis.content }}
                    
            </div>
        </div>
    </div>
{% endblock %}